body {
  font-family: "Times New Roman", Times, serif; 
  background-color: #fff;
  padding: 100px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.custom-quote {
  font-style: italic;
  font-size: 20px;
  line-height: 1.6;
  color: #333;
  margin: 0;
  padding: 0 80px;
  position: relative;
  text-align: justify;
}

.custom-quote::before,
.custom-quote::after {
  content: "“";
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: #ccc;
  color: #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-family: Arial, sans-serif;
  font-style: normal;
}

.custom-quote::before {
  top: -40px;
  left: 0;
}

.custom-quote::after {
  content: "”";
  bottom: -40px;
  right: 0;
}
