
.calculator {
    border-collapse: collapse; 
    margin-top: 20px;
    font-family: Arial, sans-serif;
}


.calculator td {
    border: 1px solid black; 
    width: 80px;            
    height: 60px;          
    text-align: center;    
    vertical-align: middle; 
    font-size: 20px;        
    font-weight: bold;      
}


.screen {
    background-color: white; 
    text-align: right !important; 
    padding-right: 15px;      
    height: 50px;
}


tbody tr:not(:first-child) td {
    background-color: #0fccce; 
    cursor: pointer;
}


